<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Complementary</key>
	<array>
		<string>yellow &amp; purple</string>
		<string>green &amp; red</string>
		<string>blue &amp; orange</string>
	</array>
	<key>Secondary</key>
	<array>
		<string>green</string>
		<string>purple</string>
		<string>orange</string>
	</array>
	<key>Primary</key>
	<array>
		<string>yellow</string>
		<string>blue</string>
		<string>red</string>
	</array>
</dict>
</plist>
