<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1021968393565-na80jceph45cb7uc9in0dqebpr88s2eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021968393565-na80jceph45cb7uc9in0dqebpr88s2eg</string>
	<key>API_KEY</key>
	<string>AIzaSyC0_nWv9__bVrvcO6p0pJQTO9WudosaYSw</string>
	<key>GCM_SENDER_ID</key>
	<string>1021968393565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zelika-Anchipolovskaya.reciepes-firebaseEXAMPLE</string>
	<key>PROJECT_ID</key>
	<string>recipes-3fd14</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-3fd14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021968393565:ios:f5419ca2a5d34ebd</string>
	<key>DATABASE_URL</key>
	<string>https://recipes-3fd14.firebaseio.com</string>
</dict>
</plist>