<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>526156715919-it224fheqki5h150uessclfg8pg64bk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526156715919-it224fheqki5h150uessclfg8pg64bk1</string>
	<key>API_KEY</key>
	<string>AIzaSyDCYVtmva1HNgzqQQoU1CqJmvQFQadwLAM</string>
	<key>GCM_SENDER_ID</key>
	<string>526156715919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zelika-Anchipolovskaya.Lab5</string>
	<key>PROJECT_ID</key>
	<string>three-goog-things</string>
	<key>STORAGE_BUCKET</key>
	<string>three-goog-things.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:526156715919:ios:9dc47c17845960fb</string>
	<key>DATABASE_URL</key>
	<string>https://three-goog-things.firebaseio.com</string>
</dict>
</plist>
